<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">
    
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:roadrantz-security.xml
      classpath:roadrantz-services.xml
      classpath:roadrantz-email.xml
      classpath:roadrantz-data.xml
      classpath:roadrantz-data-jpa-pure.xml
      classpath:roadrantz-transactions.xml
      classpath:roadrantz-cache.xml
      classpath:roadrantz-mbeans.xml
    </param-value>
  </context-param>
   
   <!-- NOTE: ContextLoaderListener may not work for all application
              servers. If it does not work for yours, you must use
              ContextLoaderServlet instead.
     -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

	<listener>
	  <listener-class>org.acegisecurity.ui.session.HttpSessionEventPublisher</listener-class>
	</listener> 

  <servlet>
    <servlet-name>roadrantz</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:roadrantz-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>roadrantz</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>roadrantz</servlet-name>
    <url-pattern>*.rss</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>roadrantz</servlet-name>
    <url-pattern>*.xls</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>roadrantz</servlet-name>
    <url-pattern>*.pdf</url-pattern>
  </servlet-mapping>
    
  <!-- ================== ACEGI FILTERS ================ -->
  <filter>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
          <param-name>targetClass</param-name>
          <param-value>org.acegisecurity.util.FilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <welcome-file>index.html</welcome-file>
   
</web-app>
